{% extends 'lucivari/base.html' %}
{% load staticfiles %}

 
{% block title_block %}
	LuciVari - Data Transformation
	
{% endblock %}

{% block body_block %}
<div class="container-fluid">
	<div class="row">
 		<div class="col-sm-1 col-md-1">
 		</div>
 		<div class="col-sm-11 col-md-11">
			<br><br><br>
			<a href=# class="btn btn-primary btn-lg"> 
			Raw multiple point luciferase experiment for consolidation  </a>
		        					
			
		   <a href="{% url 'model_form_upload' %}" class="btn btn-primary btn-lg"> 
		    Luciferase experiment for report generation   </a>
		        		
			
			
			<br><hr>
			<!-- <div id="msg">Hello  - I'm here for a JQuery Example too</div> -->
		</div>
	</div>
</div>
{% endblock %}

{% block sidebar %}
    {% endblock %}
    
    
  
   
   
       
   
   